:root {
  --text-color: #7f7f7f;
  --light-btn-color: #3f6ac1;
}

hr {
  color: var(--light-btn-color);
  border: 1px solid;
}

b {
  margin-top: 10px;
  padding-left: 10%;
  color: var(--text-color);
  font-size: 1.5em;
}

table {
  color: black;
  margin: 0 auto;
  text-align: center;
  width: 60%;
  border-collapse: collapse;
}

th, td {
  width: 12%;
  height: 40px;
  border-bottom: 1px solid var(--text-color);
  padding: 10px;
}

button {
  color: white;
  font-size: 1em;
  border: 0px;
  background-color: var(--light-btn-color);
}

.select-form {
  display: flex;
  margin-bottom: 3%;
  flex-direction: row;
  margin-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
}

.search-btn {
  background-color: var(--text-color);
  height: 40px;
  width: 100px;
}

.download-btn {
  background-color: var(--light-btn-color);
  position: absolute;
  right: 0;
  font-size: 0.8em;
  margin-right: 8%;
  width: 100px;
  height: 40px;
}

.modify-btn{
  width: 60px;
  height: 25px;
}

select {
  font-size: 20px;
  height: 40px;
  width: 250px;
  text-align-last: center;
}

.small-cell {
  width: 6%;
}

/* ヘッダー */
header{
	position: inherit;
	top: 0;
	left: 0;
	z-index: 100;
  opacity: 0.8;
}

header .container-small{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: black;
}

/* ヘッダーB：ナビゲーションメニュー */
.headA ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.headA a{
	display: block;
	padding: 15px;
	color: inherit;
	font-size:15px;
	text-decoration: none;
}

.headA a:hover{
	background-color: rgba(255, 250, 250, 0.4);
}

.headA{
  background: black;
	color: white;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 200px;
  height: 600px;
  text-align: center;
  display: none;
}

.headB{
  color: white;
	margin-right: 10px;
	padding: 10px;
	border: none;
	outline: none;
	background: none;
	font-size: 28px;
	cursor: pointer;
}

.headB:hover{
	opacity: 0.3;
}

.overlay {
  position: fixed;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
