//==========================================================================================//
//									GAME-CLUB	Resouce										//
//==========================================================================================//

// アイコン
GC_ICON		ICON		"SRC/MASTER/GcICON.ICO"

// システム
GC_SYSTEM	BITMAP		"SRC/MASTER/SYSTEM.GSB"

//==========================================================================================//
